################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/Project-Euler/v16
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs
